.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url('../../utils/backgrounds/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
