.button-container {
  display: flex;
  width: 33px;
  height: 33px;
  background-color: rgba(173, 173, 173, 0.2);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: rgb(173, 173, 173);
  font-size: 14px;
  align-self: baseline;
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 17px;
  position: relative;
}

.button-container:hover {
  background-color: rgba(173, 173, 173, 0.425);
  color: rgb(204, 204, 204);
}

.button-container:active {
  background-color: rgba(173, 173, 173, 0.425);
  color: rgb(204, 204, 204);
}

@media all and (min-width: 769px) {
  .button-container {
    display: none;
  }
}
